
<html>
    <head>
    </head>

    <body>

        {{> menu}}

      <h1>Add User</h1>

        <form method='POST' action='/users/add-user'>
           <input type='text' name='name' />
           <input type='text' name='age' />
           <button type='submit'>Add</button> 
        </form>

    </body>


</html>